<section class="about-me" id="about-me">
  <div class="container about-me-inner">
    <h2 class="about-me-title">about <span>me</span></h2>
    <div class="about-me-top">
      <img
        class="man-photo"
        id="my-photo"
        srcset="
          /img/about-me/me2.jpg 1x,
          /img/about-me/me2.jpg 2x
        "
        src="/img/about-me/me2.jpg"
        alt="man-photos"
        width="320"
        height="374"
      />
      <div class="bio-text">
        <h3 class="portfolio-title">BIO</h3>
        <p class="about-me-text">
          My name is Denys Harkusha. I was born in Ukraine, but I live in the Czech Republic. I am currently enrolled in courses with GO IT and AP Education, working towards becoming a Full Stack Developer.
        </p>
        <p>My hobby is creating websites, and I also want to learn how to develop applications.</p>
        <p class="about-me-text">At the beginning of next year, I will be ready to start working at a new job.</p>
        <p>Let's collaborate!</p>
      </div>
    </div>
    <div class="about-me-bottom">
      <div class="education-role-item">
        <h3 class="portfolio-title">EDUCATION</h3>
        <ul class="about-me-list">
          <li class="about-me-item">
            <p>
              2015 - 2020 / Physics teacher, Kherson State University, Kherson
            </p>
          </li>
          <li class="about-me-item">
            <p>2024 - 2025 / Fullstack developer, Go IT</p>
          </li>
        </ul>
      </div>
      <div class="education-role-item">
        <h3 class="portfolio-title">ROLE</h3>
        <ul class="about-me-list">
          <li class="about-me-item"><p>Frontend development</p></li>
          <!-- <li class="about-me-item"><p>Backend development</p></li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
