<section class="about-me" id="about-me">
  <div class="container about-me-inner">
    <h2 class="about-me-title">about <span>me</span></h2>
    <div class="about-me-top">
      <img
        class="man-foto"
        srcset="
          /img/about-me/about-me-1x.jpg 1x,
          /img/about-me/about-me-2x.jpg 2x
        "
        src="/img/about-me/about-me-1x.jpg"
        alt="man-fotos"
        width="320"
        height="374"
      />
      <div class="bio-text">
        <h3 class="portfolio-title">BIO</h3>
        <p class="about-me-text">
          I'm Denys Harkusha, a talented programmer specializing <br />in
          software development. I am dedicated to continually enhancing my
          skills. I thrive on seeking unconventional and creative solutions to
          problems, leveraging a high level of analytical skills to effectively
          tackle even the most challenging tasks.
        </p>
      </div>
    </div>
    <div class="about-me-bottom">
      <div class="education-role-item">
        <h3 class="portfolio-title">EDUCATION</h3>
        <ul class="about-me-list">
          <li class="about-me-item">
            <p>
              2015 - 2020 / Physics teacher, Kherson State University, Kherson
            </p>
          </li>
          <li class="about-me-item">
            <p>2024 - 2025 / Fullstack developer, Go IT</p>
          </li>
        </ul>
      </div>
      <div class="education-role-item">
        <h3 class="portfolio-title">ROLE</h3>
        <ul class="about-me-list">
          <li class="about-me-item"><p>Frontend development</p></li>
          <!-- <li class="about-me-item"><p>Backend development</p></li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
