<div class="boxes1">
  <div class="form-container">
    <h2 class="form-title">Get in Touch</h2>
    <form action="https://formspree.io/f/xgvyaqjp" method="POST">
      <label>
        Name:
        <input type="text" name="1" placeholder="Enter your name" />
        <span class="text-error1"></span>
      </label>
      <label>
        Email:
        <input type="email" name="email" placeholder="Enter your email" />
        <span class="email-error"></span>
      </label>
      <label>
        Message:
        <textarea name="message" placeholder="Enter your message"></textarea>
        <span class="textarea-error"></span>
      </label>
      <button class="btn-2" type="submit"><span>Send message</span></button>
          <div id="success-message1" class="success">Your message has been sent successfully!</div>
    <div id="error-message1" class="error">An error occurred while sending. Please try again.</div>
    </form>
  </div>
</div>