<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <a class="footer-logo" href="./index.html">Denys<span>Harkusha</span></a>
      <ul class="footer-list">
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.instagram.com/denvik_i/"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            >Facebook</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://www.linkedin.com/in/denys-harkusha/"
            target="_blank"
            rel="noopener noreferrer"
            >Linkedin</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://github.com/DenysHV1"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-link resume"
            href="https://drive.google.com/file/d/1gTU3GaIO5DUcQIw9E2bOHxN-LPd7YBlm/view"
            target="_blank"
            rel="noopener noreferrer"
            >Resume</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p class="footer-bottom-text">© Copyright 2024.</p>
      <p class="footer-bottom-text">Made by DenysHarkusha</p>
    </div>
  </div>
</footer>
