<section class="hero hero-bg-top">
  <span class="mobile-bg"></span>
  <div class="container hero-inner">
    <div class="hero-headline">
      <h1 class="hero-title">
        <span class="hello">
          Hello, i
          <picture class="hero-img-men">
            <source
              srcset="/img/hero/hero-1x.jpg 1x, /img/hero/hero-2x.jpg 2x"
              media="(max-width: 1280px)" />
            <img
              src="/img/hero/hero-1x.jpg"
              alt="my photo"
              width="108"
              height="108"
          /></picture>
          am
        </span>
        <span class="hero-title-accent">Frontend developer</span>
      </h1>
    </div>
  </div>
</section>
<!-- Fullstack -->
