.header {
  width: 100%;
  padding: 20px 0;
  .header-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(46, 47, 66, 0.6);
    .header-inner-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

.header-inner-bottom {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-logo {
  font-family: Impact;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--text-color-white-t);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover:focus {
    transform: scale(1.05);
  }
  span {
    color: var(--main-color);
  }
}

/* checkbox */
/*todo------------------- checkbox */
.mobile-checkbox {
  display: flex;
}

.checkbox {
  display: none;
}
.box {
  margin: 0 10px;
  width: 65px;
  height: 25px;
  background: url(../img/checkbox/bg-off.png) 0 0 / cover no-repeat;
  border-radius: 30px;
  transition: background 0.5s linear;
}
.checkbox__btn {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.circle {
  margin: 0 10px;
  border-radius: 50%;
  height: 70%;
  aspect-ratio: 1;
  background: url(../img/checkbox/sun.png) center center/cover no-repeat;
  position: absolute;
  transition: all 0.5s linear;
}
input.checkbox:checked ~ * span.circle {
  margin: 0 0 0 60%;
  background: url(../img/checkbox/moon.png) center center/cover no-repeat;
  background-size: 140%;
}
input.checkbox:checked ~ * div.box {
  background: url(../img/checkbox/bg-on.png) center bottom/cover no-repeat;
}
/*todo------------------- checkbox */

/* burger-menu */
/*todo------------------- burger-menu */

.theme-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  /* transform: translateX(120%); */
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}

.media-menu-inner {
  width: 320px;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.media-menu.is-open {
  /* transform: translateX(0); */
  visibility: visible;
  opacity: 1;
  pointer-events: painted;
}

.mobile-menu-content {
  width: 100%;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo-mobile {
  margin-bottom: 20px;
}

.close-media-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-modal_svg {
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover:focus {
    fill: var(--main-color);
  }
}

/*todo------------------- burger-menu */

.menu-link {
  white-space: nowrap;
  color: var(--text-color-white-t);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  transition: color, transform 350ms, 350ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--main-color);
    transform: scale(1.05);
  }
}

.socials_svg {
  display: inline-block;
  stroke-width: 0;
  stroke: var(--text-color-dark-t);
  fill: var(--text-color-dark-t);
}

.socials {
  width: 100%;
}

.socials-padding{
  padding-bottom: 5px;
}

.socials-pc {
  display: none;
  width: 100%;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.socials-link {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--main-color);
  transition: transform, box-shadow 350ms, 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.socials-link:focus {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.socials-link:active {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.git {
  font-size: 22px;
  font-weight: 900;
  font-style: normal;
  color: var(--text-color-white-t);
}

.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger_svg {
  fill: var(--text-color-white-t);
}

.menu-link-hooks {
  display: none;
}

@media screen and (min-width: 360px) {
  .header-logo {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .header-inner-bottom {
    display: flex;
  }

  .menu-link-hooks {
    display: flex;
    align-self: flex-start;
    font-style: italic;
    color: var(--text-color-white-t);
  }

  .menu-body {
    width: 100%;
  }
  .header {
    .header-inner {
      padding-bottom: 5px;
      border-bottom: 1px solid #aeb1b1;
    }
  }

  .menu-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

  .header-logo {
    font-size: 30px;
  }

  .box {
    width: 100px;
    height: 35px;
  }

  .socials-pc {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .menu-link {
    font-size: 18px;
    font-weight: 500;
  }
}

/* theme */
/*todo------------------- theme */
body.dark-theme {
  background-color: #1e2023;
  a,
  p,
  h1,
  h2,
  h3,
  h4 {
    color: var(--text-color-dark-t);
  }
  /* header */
  .media-menu-inner {
    background-color: #1e2023;
  }
  .menu-icon span {
    background-color: var(--text-color-dark-t);
  }
  /* tech skills */
  .marquee {
    background-color: var(--skills-main-color);
  }
  .marquee__line {
    color: var(--text-color-dark-t);
  }
  .second_marquee__line {
    background-color: #2a2d32;
    color: var(--main-color);
  }
  .tech-second-dot::before {
    background-color: var(--text-color-dark-t);
  }

  .burger_svg {
    stroke: var(--text-color-dark-t);
    fill: var(--text-color-dark-t);
  }

  .close-modal_svg {
    stroke: var(--text-color-dark-t);
    fill: var(--text-color-dark-t);
  }

  .technology-item {
    color: var(--text-color-dark-t);
  }

  .pagination-btn {
    color: var(--text-color-dark-t);
  }

  .hero-title-accent {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
  }
}
/*todo------------------- theme */

.menu-link.active {
  border-bottom: 2px solid var(--main-color);
}

.pagination-btn.active {
  border-bottom: 2px solid var(--main-color);
}
