.hero {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 96px;
}

.mobile-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 968px;
  background-image: url(../img/hero/hero-360-top-1x.png);
  background-size: 360px 708px;
  background-repeat: no-repeat;
  background-position: 29% 37%;
  z-index: -1;
}
@media (min-resolution: 192dpi) {
  .mobile-bg {
    background-image: url(../img/hero/hero-360-top-2x.png);
  }
}

.hello {
  white-space: nowrap;
}

.hero-inner {
  display: flex;
  flex-direction: column;
}

.hero-title {
  font: 400 60px / 1.25 'Impact', sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
}

.hero-title-accent {
  color: #00b068;
}

.hero-img-men {
  display: none;
}

@media screen and (max-width: 335px) {
  .hero-title {
    font: 400 62px / 1.25 'Impact', sans-serif;
  }
}

@media screen and (min-width: 360px) {
  .hero-img-men {
    display: -webkit-inline-box;
  }
  .hero-img-men img {
    max-width: 45px;
    max-height: 50px;
    overflow: hidden;
    border-radius: 8px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 88px;
  }
  .mobile-bg {
    display: none;
  }

  .hero-bg-top {
    background-image: url(../img/hero/hero-768-top-1x.png);
    background-repeat: no-repeat;
    background-size: 356px 276px;
    background-position: 89% 1%;
  }

  .hero-inner {
    display: flex;
    flex-direction: column;
    background-image: url(../img/hero/hero-768-bottom-1x.png);
    background-size: 356px 276px;
    background-position: 105% 82.5%;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 192dpi) {
    .hero-bg-top {
      background-image: url(../img/hero/hero-768-top-2x.png);
    }
    .hero-inner {
      background-image: url(../img/hero/hero-768-bottom-2x.png);
    }
  }

  .hero-title {
    font: 400 130px / 1.15 'Impact', sans-serif;
    letter-spacing: 0.01em;
  }

  .hero-img-men img {
    margin-left: 16px;
    overflow: hidden;
    border-radius: 16px;
    max-width: 85%;
    max-height: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 168px;
  }

  .hero-bg-top {
    background-size: 356px 276px;
    background-position: 95% 3%;
  }

  .hero-inner {
    background-size: 351px 264px;
    background-position: 18.5% 87.5%;
  }
}
