.outsourcing-block {
  padding: 80px 10px 0 10px;
}

.outsourcing_title {
  font: 400 60px / 1.25 'Impact', sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white-t);
  margin-bottom: 40px;
  @media screen and (max-width: 373px){
font-size: 50px;
  }
}

.outsourcing_title span {
  color: var(--main-color);
}

.outsourcing-projects-list-js {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.outsourcing-item {
  width: 100%;
  background-color: var(--text-color-white-t);
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.project-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  .project-item-info-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }
  .project-item-info-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }
}

.gallery-image {
  width: 100%;
}

.last-project-item-btn {
  color: var(--text-color-dark-t);
  background-color: var(--main-color);
  padding: 2px 5px;
}

.outsourcing-technology {
  color: var(--text-color-dark-t);
  text-decoration: underline;
  font-size: 14px;
}

.name-info-git {
  color: var(--text-color-dark-t);
  margin-bottom: 5px;
}

.show-more-js {
  display: flex;
  align-self: center;
  color: var(--text-color-dark-t);
  background-color: var(--main-color);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin: 20px auto;
  transition: transform 350ms cubic-bezier(0.215, 0.61, 0.355, 1),
    box-shadow 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.show-more-js:hover,
.show-more-js:active {
  transform: translateY(-3px) scale(1.07);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media screen and (min-width: 480px) {
  .project-item-info {
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) {
  .outsourcing-item {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .outsourcing_title {
    font: 400 108px / 1.15 'Impact', sans-serif;
    letter-spacing: 0.01em;
  }

  .outsourcing-block {
    padding: 100px 10px 0 10px;
  }

  .outsourcing-item {
    width: calc((100% - 10px) / 2);
  }

  .outsourcing-projects-list-js {
    gap: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .outsourcing-item {
    width: calc((100% - 20px) / 2);
    padding: 10px;
  }

  .outsourcing-projects-list-js {
    justify-content: flex-start;
    gap: 20px;
  }

  .project-item-info {
    gap: 20px;
    .project-item-info-left {
      gap: 10px;
    }
    .project-item-info-right {
      gap: 10px;
    }
  }

  .last-project-item-btn {
    padding: 2px 10px;
  }

  .outsourcing-technology {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .outsourcing-block {
    padding: 120px 10px 0 10px;
  }

  .outsourcing-item {
    width: calc((100% - 40px) / 3);
  }
}
